// .pageWrapper {
//   min-height: 100vh; 
// }

.contentArea {
  flex-grow: 1;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
}

.footer {
  background: $gradient;
  color: $white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
  border-radius: $card-border-radius;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}

.button-group .btn {
  margin: 3px;
}

.table>:not(:first-child) {
  border-top: 2px solid;
}

.table-borderless>:not(:first-child) {
  border-top-width: 0;
}

.welcome-text {
font-size: $headings-font-size;
font-weight: $body-font-weight;
color: $primary;
}

.welcome-text:hover{
color: $primary;
cursor: pointer;
}

.navbar-brand {
  margin-right: 0px;
}

//for mobile view logo white bg
.card-bg{ 
  background: $white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: unset;
}

.btn-primary {
  border-color: transparent !important;
  background:  $gradient !important;
  border-radius: $btn-border-radius-lg !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
  background-color: $primary !important;
  border-color: $primary !important;
  transform: scale(0.95);
}

.btn-secondary {
  color: $primary !important;
  background-color: $white !important;
  border-color: $primary !important;
  border-radius: $btn-border-radius-lg !important;
} 

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus  {
  background-color: $modal-btn-hover-bg-color !important;
  border-color: $primary !important;
  color: $primary !important;
  transform: scale(0.95);
}

.table-actions-button {
  pointer-events: visible ;
  color: $button-actions;
  cursor: pointer;
  font-weight: $headings-font-weight;
}

.table-actions-button:hover {
  // color: #008BCE;
  opacity: 90%;
  transform: scale(0.95);
}

.buttons {
  max-width: $btn-width;
  max-height: $btn-height;
  border-radius: $btn-border-radius-lg !important;
  // background-image: $gradient !important;
}

.alert-success {
  color: $success !important;
  background: transparent;
  border: 1px solid $success;
}

.alert-danger {
  color: $danger !important;
  background: transparent;
  border: 1px solid $danger;
}

textarea.form-control.is-invalid, .form-control.is-invalid {
  border-color: $danger !important;
}

.selected {
  background-color: $primary !important;
  color: $white !important;
}

.background-grey {
  background-color: #dee2e6;
}

.text-info:hover {
  cursor: pointer;
}

input::placeholder {
  color: $placeholder-color !important;
}

textarea::placeholder {
  color: $placeholder-color !important;
}

textarea::-ms-input-placeholder { /* Edge 12 -18 */
  color: $placeholder-color !important;
}

button:hover {
  cursor: pointer;
}

// Marshal css
//header 
.buyBooksBtn {
  display: inline-block;
  padding: 14px 24px; 
  font-size: 16px; 
  text-align: center;
  text-decoration: none;
  border: transparent; 
  border-radius: 12px; 
  background: $gradient; 
  color: $white; 
  cursor: pointer;
}

.buyBooksBtn:hover {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
  transform: scale(0.95);
}

.buyBooksBtn:active, .buyBooksBtn:focus {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
  transform: scale(0.95);
}

//Welcome page booksList css
.displayImgContainer {
  flex: 1;
  margin: 1%;
}

.displayImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  flex: 2;
  margin: 1%;
}

@media (max-width: 700px) {
  .displayImgContainer,.description{
    flex: 1 1 100%;
  }
}
@media (max-width: 1024px) {
  .displayImgContainer,.description{
    flex: 1 1 100%;
  }
}


.booksHeadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 6em auto; 
}

.booksStackImage {
  width: 140px;
  height: auto; 
}

.booksHeadingImage {
  width: 250px; 
  height: auto; 
}

.bookIconLeft {
  margin-right: 3em;
}
.bookIconRight {
  margin-left: 3em;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .booksHeadingImage {
    width: 40%; 
  }
  .booksStackImage{
    width: 25%;
  }
  .bookIconLeft {
    margin-right: 2em;
  }
  .bookIconRight {
    margin-left: 2em;
  }
}

@media (max-width: 480px) {
  .booksStackImage {
    width: 20%;
  }
  .booksHeadingImage {
    width: 46%; 
  }
  .bookIconLeft {
    margin-right: 1em;
  }
  .bookIconRight {
    margin-left: 1em;
  }
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-left: 56px;
}

.bookItem {
  display: flex;
  margin-bottom: 60px;
  height: 176px;
  width: 48%;
  padding: 0 10px;
}

.bookImgContainer {
  width: 30%; 
  position: relative;
}

.bookImg {
  width: 100%;
  height: 100%;
  padding: 24px 8px;
  object-fit: cover;
  border-radius: $btn-border-radius;
  border: 1px solid $primary;
}

.bookDetails {
  width: 70%;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 820px) {
  .bookList {
    padding-left: 0;
  }

  .bookImgContainer,
  .bookDetails {
    width: 48%;
    padding: 0 10px;
  }
}

/* Media Query for small screens */
@media (max-width: 480px) {
  .bookList {
    padding-left: 0;
  }

  .bookItem {
    width: 100%;
  }

  .bookImgContainer {
    width: 50%;
  }

  .bookDetails {
    width: 50%;
    padding: 0 10px;
  }

  .button-container {
    flex-direction: column;
  }
}

//cart page table css

.cartPageIcon {
  max-width: 310px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}

.cartHeadings {
  font-size: $headings-font-size;
}

.cartQuantity {
  width: 52px;
  height: 48px;
  border: 1px solid $table-border-color;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

//to hide cartQuantity number arrows
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.cartPrice {
  font-size: 20px;
}

.cartTotal {
  color: $primary;
  font-size: 20px;
}

.cartImgContainer {
  border-radius: $btn-border-radius;
  border: 1px solid $primary;
  // flex: 1;
  padding: 16px 8px;
  min-width: 70px;
  min-height: 68px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-bottom {
  border-bottom: 1px solid $table-border-color !important;
}

.border-top {
  border-top: 1px solid $table-border-color !important;
}

.subTotal {
  right: 0;
  position: absolute;
  width: 80%;
  height: 50%;
}

.subTotalAmount {
  position: absolute;
  right: 0;
  position: absolute;
  width: 46%;
  height: 50%;
}

.subTotalContainer {
  border-top: 1px solid $table-border-color !important;
  border-bottom: 1px solid $table-border-color !important;
  position: relative;
  width: 100%;
  padding-bottom: 4%;
  padding-top: 2%;
  min-height: 70px;
}

// ..cartImgContainer {
//   width: 174px;
//   height: 52px;
//   border-radius: 16px;
// }

// .btn-border-radius {
//   border-radius: $btn-border-radius-lg !important;
// }

@media (min-width: 768px) {
  /* Adjust styles for screens larger than 600px */
  .cartPageIcon {
    max-width: 310px;
    max-height: 388px;
  }

  .cartImgContainer {
    max-width: 70px;
    max-height: 68px;
    padding: 24px 8px 24px 8px;
  }

  .subTotal {
    width: 44%;
  }

  .subTotalAmount {
    width: 28%;
  }
}

// payment pages css
.qrCodeContainer {
  max-width: 441px;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--bs-primary);
  border-radius: 20px;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .qrCodeContainer {
    max-width: 400px; 
  }

  .paymentSuccessBtns {
    padding: 10px 48px;
  }
}

//header cart icon
.cartIcon {
  position: relative;
  cursor: pointer;
}

.cartIconQuantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: $primary;
  color: $white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.8rem;
}

/* Center align only the first th and td */
table th:first-child,
table td:first-child {
  display: flex;
  justify-content: center;
}

.stickyHeader{
  background-color: $white;
  transition: background-color 0.3s ease;
  z-index: 9999;
}

.stickyHeader.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5); /* Bottom box shadow */
  background-color: $white; /* Adjust background color if needed */
}

.seeCart:active, .seeCart:focus, .seeCart:hover {
  transform: scale(0.95);
}
