// .pageWrapper {
//   min-height: 100vh; 
// }

.contentArea {
  flex-grow: 1;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
}

.footer {
  background: $gradient;
  color: $white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
  border-radius: $card-border-radius;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}

.button-group .btn {
  margin: 3px;
}

.table>:not(:first-child) {
  border-top: 2px solid;
}

.table-borderless>:not(:first-child) {
  border-top-width: 0;
}

.welcome-text {
font-size: $headings-font-size;
font-weight: $body-font-weight;
color: $primary;
}

.welcome-text:hover{
color: $primary;
cursor: pointer;
}

.navbar-brand {
  margin-right: 0px;
}

//for mobile view logo white bg
.card-bg{ 
  background: $white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: unset;
}

.btn-primary {
  border-color: transparent !important;
  background:  $gradient !important;
  border-radius: $btn-border-radius-lg !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-secondary {
  color: $primary !important;
  background-color: $white !important;
  border-color: $primary !important;
  border-radius: $btn-border-radius-lg !important;
} 

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus  {
  background-color: $modal-btn-hover-bg-color !important;
  border-color: $primary !important;
  color: $primary !important;
}

.table-actions-button {
  pointer-events: visible ;
  color: $button-actions;
  cursor: pointer;
  font-weight: $headings-font-weight;
}

.table-actions-button:hover {
  // color: #008BCE;
  opacity: 90%;
}

.buttons {
  max-width: $btn-width;
  max-height: $btn-height;
  border-radius: $btn-border-radius-lg !important;
  // background-image: $gradient !important;
}

.alert-success {
  color: $success !important;
  background: transparent;
  border: 1px solid $success;
}

.alert-danger {
  color: $danger !important;
  background: transparent;
  border: 1px solid $danger;
}

textarea.form-control.is-invalid, .form-control.is-invalid {
  border-color: $danger !important;
}

.selected {
  background-color: $primary !important;
  color: $white !important;
}

.background-grey {
  background-color: #dee2e6;
}

.text-info:hover {
  cursor: pointer;
}

input::placeholder {
  color: $placeholder-color !important;
}

textarea::placeholder {
  color: $placeholder-color !important;
}

textarea::-ms-input-placeholder { /* Edge 12 -18 */
  color: $placeholder-color !important;
}

button:hover {
  cursor: pointer;
}

// Marshal css
//header 
.buyBooksBtn {
  display: inline-block;
  padding: 14px 24px; 
  font-size: 16px; 
  text-align: center;
  text-decoration: none;
  border: transparent; 
  border-radius: 12px; 
  background: $gradient; 
  color: $white; 
  cursor: pointer;
}

.buyBooksBtn:hover {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
}

//Welcome page booksList css
.displayImgContainer {
  max-width: 441px;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}

.displayImgContainer img {
  width: 100%;
  height: 100%;
}

.description {
  flex: 1;
}

.booksHeadingIcon {
  max-width: 200px;
  max-height: 120px;
  width: 100%;
  height: 100%;
}

.booksIcons  {
  max-width: 88px;
  max-height: 66px;
  width: 100%;
  height: 100%;
}


.bookDisplayContainer{
  // display: flex;
  // flex-wrap: wrap;
  padding: 12px;
}

// .bookDisplayItemContainer {
//   display: flex;
//   flex-basis: calc(50% - 20px);
//   margin: 10px;
// }

.bookDisplayItemContainer {
  margin: 28px 0px;
  padding: 0;
}

// div.bookDisplayItemContainer:nth-of-type(even){
//   padding-right: 0px !important; 
// }

// div.bookDisplayItemContainer:nth-of-type(odd){
//   padding-left: 0px !important; 
// }

.bookImgContainer {
  border-radius: $btn-border-radius;
  border: 1px solid $primary;
  // flex: 1;
  padding: 24px 8px 24px 8px;
  max-width: 223px;
  max-height: 216px;
  height: auto;
  width: 100%;
}

.bookImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookInfo {
  // flex: 1; 
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .addToCartBtn {
//   max-width: 150px;
//   max-height: 44px;
// }

// @media (max-width: 600px) {
//   .responsiveCol {
//     width: 50% !important;
//   }.booksHeadingIcon
// }

@media (min-width: 600px) {
  /* Adjust styles for screens larger than 600px */
  .displayImgContainer {
    max-width: 200px; /* Adjust maximum width for larger screens */
  }

  .booksHeading {
    padding: 1.5rem;
    margin: 3rem;
  }

  .booksHeadingIcon {
    max-width: 264px;
    max-height: 169px;
  }
  
  .booksIcons {
    max-width: 182px;
    max-height: 120px;
    // max-width: 124px;
    // max-height: 80px;
  }

  .bookDisplayContainer{ 
    padding: 24px;
  }

  .bookDisplayItemContainer {
    // display: flex;
    // flex-basis: calc(50% - 60px);
    // margin: 30px;
    // padding: 8px 60px;
    padding: 0px 24px;
  }
}

//cart page table css

.cartPageIcon {
  max-width: 310px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}

.cartHeadings {
  font-size: $headings-font-size;
}

.cartQuantity {
  width: 52px;
  height: 48px;
  border: 1px solid $table-border-color;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

//to hide cartQuantity number arrows
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.cartPrice {
  font-size: 20px;
}

.cartTotal {
  color: $primary;
  font-size: 20px;
}

.cartImgContainer {
  border-radius: $btn-border-radius;
  border: 1px solid $primary;
  // flex: 1;
  padding: 16px 8px;
  min-width: 70px;
  min-height: 68px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-bottom {
  border-bottom: 1px solid $table-border-color !important;
}

.border-top {
  border-top: 1px solid $table-border-color !important;
}

.subTotal {
  position: relative;
}

.subTotalAmount {
  position: relative;
}

// ..cartImgContainer {
//   width: 174px;
//   height: 52px;
//   border-radius: 16px;
// }

// .btn-border-radius {
//   border-radius: $btn-border-radius-lg !important;
// }

@media (min-width: 600px) {
  /* Adjust styles for screens larger than 600px */
  .cartPageIcon {
    max-width: 310px;
    max-height: 388px;
  }

  .cartImgContainer {
    max-width: 70px;
    max-height: 68px;
    padding: 24px 8px 24px 8px;
  }

  .subTotal {
    right: 14em;
  }

  .subTotalAmount {
    right: 8em;
  }
}

// payment pages css
.qrCodeContainer {
  max-width: 441px;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--bs-primary);
  border-radius: 20px;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .qrCodeContainer {
    max-width: 400px; 
  }

  .paymentSuccessBtns {
    padding: 10px 48px;
  }
}

//header cart icon
.cartIcon {
  position: relative;
  cursor: pointer;
}

.cartIconQuantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: $primary;
  color: $white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.8rem;
}

/* Center align only the first th and td */
table th:first-child,
table td:first-child {
  display: flex;
  justify-content: center;
}
